{% extends 'main/base.html' %}
{% load static %}
{% block title %} | About Us {% endblock %}
{% block content %}


<section id="intro" style="height: 350px">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url({% static 'main/img/images.jfif' %}); object-fit: contain; height: 350px;">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="margin-top: 55px; font-family: Quicksand">Experience and Integrity</h2>
                <p style="font-size: 20px">Work that delivers results</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- #intro -->

  <!--==========================
      About Us Section
    ============================-->
<section id="about" style="background: url({% static 'main/img/about-bg.jpg' %})  top no-repeat fixed;">
      <div class="container">

        <header class="section-header">
          <h3 style="font-family: Quicksand; font-size: 45px">About Walex Biz Nig</h3>

          <p style="text-align: left;">At Walex Biz Nig, We Provide powerful web hosting service of all kinds from whether for shared hosting, VPS hosting, Email Hosting, Reseller Hosting, Email Hosting and Dedicated Hosting. with high-performance infrastructure and high level security.<br><br> 
            We are also into all cloud computing applications development including web and mobile applications and cloud technologies we develop and designed with one question in mind - How does this new technology help people and what problem does it solve?.

          </p>
          <p>
          	<b style="font-family: Quicksand; font-size: 30px; color: #18d26e">We believe that technology needs to:,</b><br>

			       <i class="ri-arrow-right-fill"></i> Enable something to be done more efficiently and accurately<br>
			       <i class="ri-arrow-right-fill"></i> Make us better informed<br>
			       <i class="ri-arrow-right-fill"></i> Help to keep people connecteds
		      </p>
			    <p style="text-align: left;">Overall, technology promises to improve our lives, but in order to do that, it needs to be both intuitive and approachable. And that is where we come in. At Walex Biz Nig we take complex ideas and develop intuitive web applications, designed with the end user in mind. We humanize the latest cutting-edge cloud technologies to build interactive experiences that solve big problems and deeply engage users.</p>
        </header>
                </div>
            </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="xabout" style="background-color: #18d26e; margin-bottom: 30px">
      <div class="container">

        <header class="section-header" >
          <h3 style="padding-top: 55px; font-family: Quicksand; font-weight: 700; font-size: 40px">Why Walex Biz Nig</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'main/img/123.jpg' %}" alt="" class="img-fluid">
                
              </div>
              <h2 class="title" style="font-size: 13px; color: #000; font-weight: 600; font-family: Quicksand; padding-top: 12px">Walex Biz Nig Aligned with your Business Goals</h2>
              <p style="color: #fff">
                At Walex Biz Nig we deliver exceptional quality custom cloud technology solutions for a variety of companies, government entities and non-profit organizations.
              </p>
            </div>
          </div>

          <div class="col-md-8 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                
                
              </div>
              <br>
              <h2 class="title" ><a style="margin-top: -10px; border-radius: 15px; color: #000; font-family: Quicksand; font-size: 25px" href="#">Clients turn to Walex Biz Nig for:</a></h2><hr>
              <div class="col-md-6">
              
              <p style="color: #fff"><i style="font-size: 20px; color: #000; font-family: Source Sans Pro; font-weight: 700" class="ri-check-double-line"> </i>  Senior-level attention for every project - from start to finish</p>
				      <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> Strategic thinking and fresh perspectives</p>
				      <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> Getting startup projects quickly to market by using agile methodology and a multi-faceted team</p>
				      <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> Expertise in custom cloud-based web applications, SAAS solutions, web portals and more</p>
				      <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> A can-do attitude and 24/7 work ethic spanning across the globe</p>
              </p>
            </div>
            <div class="col-md-6">
             
              <p style="color: #fff"><i style="font-size: 20px; color: #000; font-family: Source Sans Pro; font-weight: 700" class="ri-check-double-line"> </i> A Perfect home for their domain. with the required speed, simplicity, space, and super-power,</p>
              <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> A secure, reliable Private Email connected to domain, with business tools and calendar</p>
              <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> Optimum security with low-cost SSL Certificates, PremiumDNS, VPN and more</p>
              <p style="color: #fff"><i style="font-size: 20px; color: #000" class="ri-check-double-line"></i> A great Business Boost with industry-premium products and services</p>
              
              </p>
            </div>
            </div>
          </div>
        </div>

      </div>
      <br><br>
    </section>

    {% include "main/our_processes.html" %}

    {% include 'main/brand.html' %}

{% endblock %}