{% extends "main/base.html" %}
{% load static %}


{% block content %}
<section id="intro" style="height: 450px">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url({% static 'main/img/intro-carousel/7.jpg' %}); object-fit: contain; height: 450px">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="font-size: 20px">{{ products.header | safe }}</h2>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- #intro -->

  <section id="about" style="background: url('img/about-bg.jpg') center top no-repeat fixed;">
      <div class="container">

        <header class="section-header">
          <h3>{{ products.sbg_header_one }}</h3>

          <p style="font-size: 15px; font-weight: 800">{{ products.sbg_header_two }}</p>
        </header>
       </div>
   </section>

    <!--==========================
      About Us Section
    ============================-->
    {% if product %}
    <section id="aboutx" style="background: url('img/about-bg.jpg') center top no-repeat fixed;">
      <div class="container">

        <div class="row about-cols">

          <div class="col-md-8 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <p>
                {{ products.description | safe }}
              </p>
            </div>
          </div>

          

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{{ products.image.url }}" alt="" class="img-fluid">
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    {% endif %}
    {% if how_it_work %}
      <section id="contact" class="section-bg wow fadeInUp" style="background-image: linear-gradient(0deg, #fff 0%, #cccccc 20%, #fff 100%);">
      <div class="container">

        <div class="section-header">
          <h3>How it Works</h3>
        </div>

        <div class="row contact-info">
        	{% for rs in how_it_work %}
          <div class="col-md-4">
            <div class="contact-address">
              <i class="{{ rs.icon | safe }}"></i>
              <h5>{{ rs.title }}</h5>
              <p>{{ rs.detail }}</p>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section>

  </main>
    {% endif %}

    <!--==========================
      Services Section
    ============================-->
   {% if added_bonus %}
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Added Bonuses</h3>
        </header>

        <div class="row">
        	{% for rs in added_bonus %}
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="{{ rs.icon }}"></i></div>
            <h4 class="title"><a href="">{{ rs.title}}</a></h4>
            <p class="description">{{ rs.detail }}</p>
          </div>
          {% endfor %}
          

        </div>

      </div>
    </section>
    {% endif %}

     <section id="facts"  class="wow fadeIn" style="background: url({% static 'main/img/earth-518365_1920.jpg' %}) center top no-repeat fixed;">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section>

{% if images %}
{% for rs in images %}
	{{ rs.title}}
{% endfor %}
{% endif %}<br>


{% if how_it_work %}
{% for rs in how_it_work %}
	{{ rs.title }}
{% endfor %}
{% endif %}<br>


{% if added_bonus %}
{% for rs in added_bonus %}
	{{ rs.title }}

{% endfor %}
{% endif %}<br>

{% if top_feature %}
{% for rs in top_feature %}
	{{ rs.detail }}
{% endfor %}
{% endif %}

{% endblock %}