{% extends 'main/base.html' %}
{% load static %}
{% block title %} | Services{% endblock %}
{% if service_header %}
{% block content %}



{% if service_header %}
<section id="intro" style="height: 350px">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          {% for rs in service_header %}
          <div class="carousel-item active" style="background-image: url({% static 'main/img/MicrosoftTeams-image.png' %}); object-fit: contain; height: 350px">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style=" margin-top: 55px; font-family: Quicksand">{{ rs.shc_one | safe }}</h2>
                <p style="font-size: 20px">{{ rs.shc_two | safe }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </section>
  {% endif %}

  {% if service_body %}
  <section id="about" style="background: url('img/about-bg.jpg') center top no-repeat fixed;">
      <div class="container">
      	{% for rs in service_body %}
        <header class="section-header">
          <h3 style="font-family: Quicksand">{{ rs.sbhcontent_one }}</h3>

          <p>{{ rs.sbhcontent_two }}</p>
        </header>
        {% endfor %}
        {% for rs in service_body %}
        <div class="row about-cols">

          <div class="col-md-8 wow fadeInUp">
            <div class="about-colx">
             
              
              <p>
                {{ rs.sbdetails | safe }}
              </p>

            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{{ rs.sbhimage.url }}" alt="" class="img-fluid">
               
              </div>
              
            </div>
          </div>

          

        </div>
        {% endfor %}

      </div>
    </section>
    {% endif %}

    {% if service_process %}
      <section id="contact" class="section-bg wow fadeInUp" style="background-color: #cccccc">
      <div class="container">

        <div class="section-header">
          <h3>How it Works</h3>
        </div>

        <div class="row contact-info">
        	{% for rs in service_process %}
          <div class="col-md-3">
            <div class="contact-address">

              <i class="{{ rs.process_icon | safe }}"></i>
              <h5></h5>
              <p>{{ rs.process_title }}</p>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
      

    </section>




    {% include "main/our_processes.html" %}

    <section id="footer" style="background-color: #111111">
    <div class="footer-top" style=" margin-top: 50px">
      <div class="container">
        <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
            <h4>The WalexBiz Advantage</h4>
            <ul>
              	<li><i style="color: #18d26e" class="ri-check-double-line"></i> Strong, talented in-house team</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> 10+ years experience</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Structured Framework and Architectural Plan Development</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Adherence to Coding Guidelines and Standards</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Clean and highly maintainable code</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Cross-browser compatibility</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Attention to UI UX and User friendly Design</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Performance and Load Testing and end to end Quality Assurance</li>
				<li><i style="color: #18d26e" class="ri-check-double-line"></i> Implementing the latest technology</li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>Programming Languages</h4>
            <p>
              <img src="https://www.watelectronics.com/wp-content/uploads/different-programming-languages.png">
            </p>

            <div class="social-links center" >
              <p><i style="color: #18d26e" class="icofont-check"></i>Python   <i style="color: #18d26e" class="icofont-check"></i>Django  <i style="color: #18d26e" class="icofont-check"></i>AngularJS  <i style="color: #18d26e" class="icofont-check"></i>PHP   <i style="color: #18d26e" class="icofont-check"></i>JavaScript   <i style="color: #18d26e" class="icofont-check"></i>JQuery  <i style="color: #18d26e" class="icofont-check"></i>Bootstrap  <i style="color: #18d26e" class="icofont-check"></i>HTML 5  <i style="color: #18d26e" class="icofont-check"></i>CSS 3 <i style="color: #18d26e" class="icofont-check"></i>React Js  <i style="color: #18d26e" class="icofont-check"></i>React Native  <i style="color: #18d26e" class="icofont-check"></i>Ionic  <i style="color: #18d26e" class="icofont-check"></i>Flutter  <i style="color: #18d26e" class="icofont-check"></i>Xamarin  <i style="color: #18d26e" class="icofont-check"></i>.NET</p>

            </div>

        </div>
      </div>
    </div>

  </section>
  {% include "main/brand.html" %}

  {% endif %}

{% if service_feature %}

    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3 style="margin-bottom: 60px; font-family: Quicksand">Key Features</h3>
        </header>

        <div class="row">
          {% for rs in service_feature %}
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="{{ rs.process_icon | safe }}"></i></div>
            <h4 style="font-family: Quicksand" class="title"><a href="">{{ rs.process_title }}</a></h4>
            <p class="description">{{ rs.description }}</p>
          </div>
          {% endfor %}
          

        </div>

      </div>
    </section>
    

    <section id="footer" style="background-color: #111111">
    <div class="footer-top" style=" margin-top: 50px">
      <div class="container">
        <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
            <h4>The WalexBiz Advantage</h4>
            <ul>
                <li><i style="color: #18d26e" class="ri-check-double-line"></i> Strong, talented in-house team</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> 10+ years experience</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Structured Framework and Architectural Plan Development</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Adherence to Coding Guidelines and Standards</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Clean and highly maintainable code</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Cross-browser compatibility</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Attention to UI UX and User friendly Design</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Performance and Load Testing and end to end Quality Assurance</li>
        <li><i style="color: #18d26e" class="ri-check-double-line"></i> Implementing the latest technology</li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>Programming Languages</h4>
            <p>
              <img src="https://www.watelectronics.com/wp-content/uploads/different-programming-languages.png">
            </p>

            <div class="social-links center" >
              <p><i style="color: #18d26e" class="icofont-check"></i>Python   <i style="color: #18d26e" class="icofont-check"></i>Django  <i style="color: #18d26e" class="icofont-check"></i>AngularJS  <i style="color: #18d26e" class="icofont-check"></i>PHP   <i style="color: #18d26e" class="icofont-check"></i>JavaScript   <i style="color: #18d26e" class="icofont-check"></i>JQuery  <i style="color: #18d26e" class="icofont-check"></i>Bootstrap  <i style="color: #18d26e" class="icofont-check"></i>HTML 5  <i style="color: #18d26e" class="icofont-check"></i>CSS 3</p>
            </div>

        </div>
      </div>
    </div>

  </section>
  {% include "main/brand.html" %}

  {% endif %}
{% endblock %}
{% endif %}